# Node
node_modules/

# Environment files
.env
.env.*

# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
terraform.tfvars

#ansible
inventory

# Logs
*.log


Secrets


# VS Code
.vscode/

# macOS
.DS_Store

# SSH
*.pem
*.ppk
*.key
id_rsa
id_rsa.pub